<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <header id="masthead"><a href="/">Thinh Nguyen</a></header>
    <br>
    <section class="introduction">
        <h1>Books Read and Recommendations!</h1>
        <p>Here's a list of all the books I've read and my notes and ratings for each of them!</p>
        <div class="inline">
            <p>Sort by <a href="./rating">rating</a>, or by <a href="./date">newest.</a></p>
        </div>
        <hr>
    </section>
    <section class="book-display">
        <% if (books.length !== 0) { %>
            <% books.forEach ((book) => { %>
                <div class="abook">
                    <figure><a class="link" href=<%= book.link %>><img src=<%= book.image %> loading="lazy" alt="<%= book.title %>"></a></figure>
                    <h2><%= book.title%></h2>
                    <small>Date read: <%= book.date_read %>. How strongly I recommend it: <strong><%= book.rating %></strong>/10</small>
                    <p>
                        <%= book.comment %>
                    </p>
                    <p>See reviews and get the book at <a href=<%= book.link %>>Amazon</a>.
                    </p>
                </div>
                <br>
            <% });%>
            <% }%>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>